h1 {
    color: brown;
}

/** {
    border: solid;
}*/
.header{
    background-color: dodgerblue;
    display:flex;
    justify-content: space-between;
}
p,h2{
   text-align: center; 
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}